/* Styles from styles.css used in home.jsx */
/* Common styles */
body {
    font-family: Arial, sans-serif;
}

/* First file styles */
.site-header {
    background-color: maroon;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.navigation {
    background-color: gold;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.flavor {
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    flex: 3;
}

.flavor-column-topic {
    background-color: maroon;
    padding: 10px 0;
}

.row-team {
    display: flex;
    justify-content: space-around;
    padding: 0 0;
}
